.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.search-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
    font-size: 1.2rem;
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    line-height: 16px;
}
