.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link {
    display: flex;
}

// Actions
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: rgb(22, 24, 35);
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
